name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v6

      - name: Build and run dev container task
        uses: devcontainers/ci@v0.3
        with:
          runCmd: uv run tkgh001
